:root {
  /*colors*/
  --cl-navy-blue: #2E2F42;
  --cl-iris: #4D5AE5;
  --cl-ocean: #404BBF;
  --cl-green: #31D0AA;
  --cl-slate: #434455;
  --cl-light-slate: #8E8F99;
  --cl-cornflower: #E7E9FC;
  --cl-cloud: #F4F4FD;
  --cl-white: #FFFFFF;
  --cl-dairy: #FCFCFC;
  --cl-black: #000000;

  /*transition hover focus*/
  --transition-hover-focus: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--cl-slate);
  background-color: var(--cl-white);
}

body.modal-open {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

button {
  cursor: pointer;
  border: none;
}

a {
  display: inline-block;
  text-decoration: none;
  font-style: normal;
  color: var(--cl-navy-blue); /* Колір для посилань у навігаційному меню */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1 {
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding: 96px 0;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 120px 0;
  }
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.title {
  margin-bottom: 72px;
  text-align: center;
  text-transform: capitalize;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--cl-navy-blue);
}

.logo-link {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  color: var(--cl-iris);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  
}

.origin-logo {
  color: var(--cl-navy-blue);
}

.white-logo,
.footer-desc {
  color: var(--cl-cloud);
}

.nav-list a,
.address-list a {
  color: var(--cl-navy-blue); 
  padding: 8px 0;
}

.nav-list a:hover,
.nav-list a:focus,
.address-list a:hover,
.address-list a:focus {
  color: var(--cl-ocean);
}

.nav-list a:active {
  color: var(--cl-ocean);
}

.nav-list-item.active .nav-list-item-link {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-item.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--cl-ocean);
  bottom: 0;
}

.nav-list-item.active .nav-list-item-link::after {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.nav-list a {
  padding: 24px 0; 
}

.benefits-desc,
.foto-desc,
.address-list a {
  color: var(--cl-slate);
}

.btn {
  min-width: 169px;
  border-radius: 4px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--cl-white);
  background: var(--cl-iris);
  transition: background-color var(--transition-hover-focus);
}

.btn:hover,
.btn:focus {
  background-color: var(--cl-ocean);
}

.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: var(--cl-navy-blue);
  background-color: var(--cl-cornflower);
  transition: background-color var(--transition-hover-focus),
    border var(--transition-hover-focus);
}

.close-btn:hover,
.close-btn:focus {
  border: none;
  color: var(--cl-white);
  background-color: var(--cl-ocean);
}

.close-icon {
  fill: currentColor;
  transition: fill var(--transition-hover-focus);
}

.socials-list {
  display: flex;
  justify-content: space-between;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--cl-iris);
  color: var(--cl-cloud);
  transition: background-color var(--transition-hover-focus);
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--cl-ocean);
}

.socials-icon {
  fill: currentColor;
}

.head-section {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 
        0px 2px 1px rgba(46, 47, 66, 0.08), 
        0px 1px 1px rgba(46, 47, 66, 0.16), 
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-nav-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header-nav {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header-nav {
    padding: 16px 0;
  }
}

@media screen and (min-width: 768px) {
  .logo-link {
    margin-right: 76px;
  }
}

.nav-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    gap: 40px;
  }
}

.nav-list-item-link {
  position: relative;
  padding: 24px 0;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cl-navy-blue);
  transition: color var(--transition-hover-focus);
}

.nav-list-item-link.active {
  color: var(--cl-ocean);
}

.nav-list-item-link.active::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  background: var(--cl-ocean);
}

.nav-list-item-link:hover,
.nav-list-item-link:focus {
  color: var(--cl-ocean);
}

.address-navi {
  display: none;
}

@media screen and (min-width: 768px) {
  .address-navi {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

@media screen and (min-width: 1158px) {
  .address-list {
    flex-direction: row;
    gap: 40px;
  }
}

.address-list-item-link {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--cl-slate);
  transition: color var(--transition-hover-focus);
}

@media screen and (min-width: 1158px) {
  .address-list-item-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

.address-list-item-link:hover,
.address-list-item-link:focus {
  color: var(--cl-ocean);
}

.header-burger-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  color: var(--cl-navy-blue);
  background-color: transparent;
  transition: color var(--transition-hover-focus);
}

.header-burger-btn:hover,
.header-burger-btn:focus {
  color: var(--cl-ocean);
}

@media screen and (min-width: 768px) {
  .header-burger-btn {
    display: none;
  }
}

.header-burger-icon {
  fill: currentColor;
}

.hero-section {
  max-width: 320px;
  margin: 0 auto;
  padding: 72px 0;
  background: var(--cl-navy-blue);
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-mob.jpg);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-mob2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    max-width: 768px;
    padding: 112px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-tab.jpg);
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tab2x.jpg);
  }
}

@media screen and (min-width: 1158px) {
  .hero-section {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
  }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office2x.jpg);
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .hero-container {
    gap: 64px;
  }
}

@media screen and (min-width: 1158px) {
  .hero-container {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
  }
}

.hero-section-title {
  max-width: 216px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--cl-white);
}

@media screen and (min-width: 768px) {
  .hero-section-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }
}

.hero-section-button {
  padding: 16px 32px;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

@media screen and (min-width: 768px) {
  .benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .benefits-list {
    justify-content: space-between;
    gap: 24px;
  }
}

.benefits-item {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .benefits-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .benefits-item {
    width: calc((100% - 72px) / 4);
  }
}

.benefits-item-content {
  display: none;
}

@media screen and (min-width: 1158px) {
  .benefits-item-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px solid var(--cl-light-slate);
    background: var(--cl-cloud);
  }
}

.benefits-title {
  margin-bottom: 8px;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--cl-navy-blue);
}

@media screen and (min-width: 768px) {
  .benefits-title {
    text-align: start;
  }
}

@media screen and (min-width: 1158px) {
  .benefits-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }
}

.benefits-desc {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 1157px) {
  .benefits-desc {
    font-weight: 500;
  }
}

.team-section {
  background-color: var(--cl-cloud);
}

.team-section-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  padding: 0 12px;
}

@media screen and (min-width: 768px) {
  .team-section-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 64px 24px;
    padding: 0 92px;
  }
}

@media screen and (min-width: 1158px) {
  .team-section-list {
    padding: 0;
    margin: 0 auto;
  }
}

.team-section-item {
  display: flex;
  flex-direction: column;
  background-color: var(--cl-white);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) {
  .team-section-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .team-section-item {
    width: calc((100% - 72px) / 4);
  }
}

.team-chef-desc {
  display: flex;
  flex-direction: column;
  padding: 32px 0;
}

.team-section-foto-title {
  margin-bottom: 8px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--cl-navy-blue);
}

.foto-desc {
  text-align: center;
  margin-bottom: 8px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.our-team-ic {
  justify-content: center;
  gap: 24px;
}

.our-team-ic {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.our-link-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--cl-iris);
}

.our-link-social:hover, 
.our-link-social:focus {
  background-color: var(--cl-green);
}

.team-section-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  fill: #ffffff;
}

.our-link-social {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.our-link-social:hover,
.our-link-social:focus {
  background-color: #404bbf; 
}

.team-section-item-icon {
  fill: var(--icon-color, #f4f4fd); 
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-list {
    gap: 48px 24px;
  }
}

.portfolio-item {
  cursor: pointer;
  transition: box-shadow var(--transition-hover-focus);
}

@media screen and (min-width: 768px) {
  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.img-container {
  height: 280px;
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .img-container {
    height: 300px;
  }
}

.portfolio-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.description {
  position: absolute;
  top: 0;
  transform: translateY(100%);
  height: 300px;
  padding: 40px 32px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cl-cloud);
  background-color: var(--cl-iris);
  transition: transform var(--transition-hover-focus);
}

.portfolio-item:hover .description,
.portfolio-item:focus .description {
  transform: translateY(0%);
}

.portfolio-desc {
  display: flex;
  flex-direction: column;
  padding: 32px 16px;
  border: 1px solid var(--cl-cornflower);
  border-top: none;
}

.portfolio-foto-title {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--cl-navy-blue);
  text-align: left;
}

.portfolio-desc .foto-desc {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}

.footer-part {
  background-color: var(--cl-navy-blue);
  padding: 100px 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 72px 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-container {
    padding: 0 108px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-container {
    flex-wrap: nowrap;
    gap: 0;
    margin-left: 100px;
  }
}

.footer-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .footer-subs {
    width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-subs {
    margin-right: 120px;
  }
}

@media screen and (min-width: 768px) {
  .footer-logo {
    align-self: start;
  }
}

.footer-desc {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cl-cloud);
  max-width: 288px;
}

@media screen and (min-width: 1158px) {
  .footer-desc {
    width: 264px;
  }
}

.social-media-txt {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cl-white);
}

@media screen and (min-width: 768px) {
  .social-media-txt {
    align-self: start;
  }
}

.social-media-cont {
  align-items: center;
}


@media screen and (min-width: 1158px) {
  .social-media-cont {
    margin-right: 80px;
  }
}

.social-media-item {
  gap: 16px;
}

.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: var(--cl-green);
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--cl-iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-txt {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--cl-white);
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}


.social-media-item .social-media-list {
  display: flex;
}

.social-media-item {
  display: flex;
  gap: 16px;
}

.social-media-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media-icon {
  width: 24px;
  height: 24px;
  fill: var(--cl-white);
  fill: #f4f4fd;
}



.footer-subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .footer-subscribe-form {
    flex-direction: row;
    gap: 24px;
  }
  .social-media-txt {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .footer-subscribe-form {
    gap: 24px;
  }
  .social-media-txt {
    text-align: left;
  }
}

.footer-subscribe-lable {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cl-white);
}

.footer-subscribe-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid var(--cl-white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--cl-white);
  background-color: transparent;
}

.footer-subscribe-input::placeholder {
  color: var(--cl-white);
}

.footer-subscribe-btn {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  padding: 8px 0;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.footer-subscribe-icon {
  margin-left: 16px;
  fill: currentColor;
}

.mobile-menu {
  background-color: var(--cl-white);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  transition: opacity var(--transition-hover-focus),
    visibility var(--transition-hover-focus);
}

.mobile-menu.is-open {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
  padding: 72px 16px 40px;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu-link {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--cl-navy-blue);
}

.mobile-menu-link.active {
  color: var(--cl-ocean);
}

.mobile-menu-contacts {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.mobile-menu-adress-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mobile-menu-adress-link {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--cl-slate);
  transition: color var(--transition-hover-focus);
}

.mobile-menu-adress-link:hover,
.mobile-menu-adress-link:focus {
  color: var(--cl-iris);
}

/* Модальне вікно*/

.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--transition-hover-focus),
    visibility var(--transition-hover-focus);
}

.modal-overlay.is-open {
  opacity: 0;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  max-height: clamp(calc(100% - 17px), calc(100% - 17px), 623px);
  overflow-y: auto;
  border-radius: 4px;
  padding: 72px 16px 24px;
  background-color: var(--cl-dairy);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition: transform var(--transition-hover-focus);
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;
  }
}

@media screen and (max-width: 768px) {
  .custom-checkbox {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
   
}
}

.modal-title {
  margin-bottom: 16px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cl-navy-blue);
}

.modal-form-field-box {
  display: flex;
  flex-direction: column;
  color: var(--cl-navy-blue);
}

.modal-form-input-box {
  margin-bottom: 8px;
}

.modal-form-textarea-box {
  margin-bottom: 16px;
}

.modal-form-label {
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--cl-light-slate);
}

.modal-input-box {
  position: relative;
}

.modal-form-field {
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 128, 0.4);
  outline: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(0, 0, 128, 0.4);
  background-color: transparent;
  transition: border-color var(--transition-hover-focus);
}

.modal-form-field:hover,
.modal-form-field:focus {
  border-color: var(--cl-iris);
}

.modal-form-input {
  height: 40px;
  padding: 11px 16px 11px 38px;
}

.modal-form-textarea {
  height: 120px;
  padding: 8px 16px;
  resize: none;
  overflow-y: auto;
}

.modal-form-textarea::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-form-icon {
  fill: currentColor;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill var(--transition-hover-focus);
}

.modal-form-field:hover + .modal-form-icon,
.modal-form-field:focus + .modal-form-icon {
  fill: var(--cl-iris);
}

.custom-checkbox-container {
  margin-bottom: 24px;
}

.standard-checkbox:checked + .custom-checkbox .custom-checkbox-box {
  background-color: var(--cl-ocean);
  border: none;
  fill: var(--cl-cloud);
}

.standard-checkbox:checked + .custom-checkbox .custom-checkbox-icon {
  visibility: visible;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  user-select: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--cl-light-slate);
  padding-left: 5px;
}

.custom-checkbox-box {
  flex-shrink: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(0, 0, 128, 0.4);
  border-radius: 2px;
  fill: transparent;
  transition: background-color var(--transition-hover-focus),
    border var(--transition-hover-focus), fill var(--transition-hover-focus);
}

.privacy-policy-link {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  color: var(--cl-iris);
}

.modal-form-btn {
  display: block;
  padding: 16px 32px;
  margin: 0 auto;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0; 
  color: var(--cl-navy-blue);
  background-color: var(--cl-cornflower);
  transition: background-color var(--transition-hover-focus),
    border var(--transition-hover-focus);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  border: none;
  color: var(--cl-white);
  background-color: var(--cl-ocean);
}

.modal-close-icon {
  fill: currentColor;
  transition: fill var(--transition-hover-focus);
}
/***/
/*.social-icon:hover, 
.social-icon:focus {
  background-color: var(--cl-green);
}*/